/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.mt{
    margin-top: 3rem;
}

/* UTILITIES */


.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */
.header{
    height: 80px;
    width: 100%;
    background-color: #ff6900;
    color: white;
}

.header-content{
    height: 50px;
    background-color: aquamarine;
}

/* .header-content img{
    max-width: 100%;
} */

/* MAIN */
.wrapper{
    height: 500px;
    width: calc(100% / 3);
    background-color: red;
}

/* FOOTER */
.footer{
    height: 80px;
    background-color: #1a1a1a;
}

.row{
    display:flex;
    flex-wrap: wrap;
}